.contacts {
    max-width: 1760px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;


    @include max-screen(1700px) {
        max-width: 1200px;
        width: 100%;
    }

    &__item {
       max-width: 880px;
       box-sizing: border-box;
       width: 100%;
       background: $light_gray;
       border-radius: 7px;
       padding: 40px 45px 20px 40px;
       color: $dark_blue;

       &_department {
           max-width: 450px;
           box-sizing: border-box;
           width: 100%;
           background: $orange;
           color: $white;
           position: absolute;
           left: 600px;
           right: 0;
       }
    }
}
