.contacts {
    max-width: 1760px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;

    @include max-screen(1200px) {
        position: static;
        flex-direction: column;
        align-items: center;

    }

    &__item {
       max-width: 880px;
       box-sizing: border-box;
       width: 100%;
       background: $light_gray;
       border-radius: 7px;
       padding: 40px 45px 20px 40px;
       color: $dark_blue;

       @include max-screen(1200px) {
           max-width: 450px;
           width: 100%;
       }

       &_department {
           max-width: 450px;
           box-sizing: border-box;
           width: 100%;
           background: $orange;
           color: $white;
           position: absolute;
           z-index: 20;
           left: 600px;
           bottom: 45px;

           @include max-screen(1200px) {
               position: static;
               margin-top: 25px;
           }
       }
    }
}
