

.contacts-info {
    width: 100%;
    max-width: 1200px;
    position: relative;
    display: flex;
    height: 130px;
    padding-top: 90px;
    padding-bottom: 50px;

    @include max-screen(1200px) {
        margin: 0 auto;
        max-width: 450px;
    }

    &__number {
        font-size: 58px;
        color: $orange;
    }

    &__wrap-text {
        align-self: flex-end;
        padding-left: 40px;
    }

    &__text {
        @include f_proxima_100;
        font-size: 37px;
        color: $blue;
        text-transform: uppercase;

        &_bolder {
            @include f_proxima_600;
        }
    }

    &__separator {
        height: 3px;
        width: 67px;
        background-color: $blue;
        transform: rotate(104deg);
        position: absolute;
        top: 135px;
        left: 45px;
    }
}
