.main-nav {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 75px;

    @include max-screen(768px){
        display: none;
    }

    &__item {
        @include f_proxima_400;
        font-size: 20px;
        color: $dark_blue;
        text-transform: uppercase;

        &:nth-child(4) {
            color: $orange;
            border-bottom: 3px solid $orange;
        }
    }
}
